.address {
    padding-left: 10px;
    text-align: right;
}

[data-letters]:before {
    content: attr(data-letters);
    display: inline-block;
    font-size: 0.5em;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    border-radius: 50%;
    background: white;
    vertical-align: middle;
    margin-right: 1em;
    color: #080606;
}

.email .small {
  margin-top: 0px;
  font-size: 20px;
  line-height: 25px;
}

.email header {
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-weight: 400;
  border-bottom: 1px solid #666;
  line-height: 15px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-top: 30%;
  color: #999;
}
